.cart {
    position: fixed;
    top: 10; /* Asegúrate de que el top esté correctamente configurado */
    right: 0;
    width: 300px;
    height: 100vh; /* Usa vh para asegurar que la altura cubra toda la ventana */
    background-color: #f9f9f9;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
}

.cart-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-total {
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
}

.cart-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.cart-button svg {
    vertical-align: middle;
    margin-right: 5px;
}

.cart-button:hover {
    background-color: #0056b3;
}

.col {
    margin-top: 100px;
    margin-right: 50px;
    max-width: 20%;
    position: fixed;
    right: 0;
    top: 0;
}

.col-10 {
    flex: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.btn-group {
    display: flex;
    align-items: flex-end;
    gap: 15px;
    text-align: center;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    width: 280px;
    margin-left: 200px;
}

.iconoMenos,
.iconoMas {
    cursor: pointer;
    text-decoration: none;
    margin-top: 50px;
    color: black;
    font-size: 30px;
}

.iconoMenos:hover,
.iconoMas:hover {
    color:#ce5d00;
}

.product-price-btn button {
    display: flex;
    align-items: center;
    gap: 5px; /* Ajusta el espacio entre el texto y el icono */
}

.item-container {
    padding: 10px 0;
}

.item-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.item-name-price {
    font-size: 1.1em;
    margin-bottom: 5px;
}

.item-quantity {
    font-size: 0.9em;
    color: #555;
}

.item-divider {
    margin-top: 10px;
    border: none;
    border-top: 1px solid #ddd;
}

.btn-limpiar {
    background-color: #ce5d00;
}

.imgAddDelete {
    color: #ffffff;
}