.containerGrilla{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ocupa toda la altura de la ventana para centrar verticalmente */
    text-align: center;
    box-sizing: border-box;
}

.table{
    width: 100%; /* Ajusta el ancho de la tabla según sea necesario */
    max-width: 1000px; /* Limita el ancho máximo de la tabla */
    margin: 0 auto; /* Centra la tabla horizontalmente */
}

.h1Grilla{
    font-size: 3em;
    line-height: 1.1;
    text-align: center;
    font-family: 'raleway', sans-serif;
    letter-spacing: 1rem;
}