.navbar-personalizado{
    background-color: #9cebd5;
    font-family: 'Bentham', serif;
    margin-top: -50px;
    font-size: 20px;
}

.brand-pers{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
}